div.list {
  margin: 10px auto 10px auto;
  max-width: 200px;
  border: 2px solid;
  border-radius: 5px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}
.starttest {
  background-color: red;
}
.mouseover {
  margin: 10px auto 10px auto;
  max-width: 200px;
  border: 8px solid;
  border-radius: 10px;
}
